.env
/.idea
/.vagrant
/.vscode
/node_modules
/public/css/
/public/hot
/public/js/app.js
/public/mix-manifest.json
/public/storage
/storage/*.key
/vendor
Homestead.json
Homestead.yaml
npm-debug.log
storage/purify/
yarn-error.log
