@import "fontawesome-free-5.0.6/web-fonts-with-css/css/fontawesome-all.css"
/* service*/
.secom-color,.hostiman-color, .ua-hosting-color, .skt-color, .coopertino-color
	text-transform uppercase
/* /service*/